// 自定義顏色，bootstrap的原生色票沒有動到

// App Color
$primary-light: #FEF5EE;
$primary-dark: #383330;
$primary-orange: #F0743E;
$primary-green: #7DBA6E;

// Doll $ Mood Color
$mustard-300: #FDD849;
$california-500: #FE9E09;
$green-300: #AAD59F;
$purple-400: #CDBCDC;
$blue-300: #9AB2D4;

// login page
$rock-blue:#8AA0CA;
$text-tertiary:#CAC8BE;
$text-secondary:#72695C;
$cta-secondary:#948D7B;

// dune
$dune-50: #f4f4f2;
$dune-100: #e4e2dd;
$dune-200: #cac8be;
$dune-300: #aca798;
$dune-400: #948d7b;
$dune-500: #857d6d;
$dune-600: #72695c;
$dune-700: #5c534c;
$dune-800: #504943;
$dune-900: #383330;
$dune-950: #272321;

$custom-colors: (
  "primary-light": $primary-light,
  "primary-dark": $primary-dark,
  "primary-orange": $primary-orange,
  "primary-green": $primary-green,

  "mustard-300": $mustard-300,
  "california-500": $california-500,
  "green-300": $green-300,
  "purple-400": $purple-400,
  "blue-300": $blue-300,

  "rock-blue": $rock-blue,
  "text-tertiary": $text-tertiary,
  "text-secondary": $text-secondary,
  "cta-secondary": $cta-secondary,

  "dune-50":  $dune-50,
  "dune-100": $dune-100,
  "dune-200": $dune-200,
  "dune-300": $dune-300,
  "dune-400": $dune-400,
  "dune-500": $dune-500,
  "dune-600": $dune-600,
  "dune-700": $dune-700,
  "dune-800": $dune-800,
  "dune-900": $dune-900,
  "dune-950": $dune-950,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrap/scss/bootstrap";