<footer class="position-absolute bottom-0 start-0 w-100 mb-6">
  <div class="row d-flex justify-content-between mx-4">
    <div class="col-4 text-center">
      <i class="bi bi-house-door-fill"></i>
      <h2 class="fs-3 mt-1">首頁</h2>
    </div>
    <div class="col-4"></div>
    <div class="col-4 text-center">
      <i class="bi bi-person-fill text-text-tertiary"></i>
      <h2 class="fs-3 mt-1 text-text-tertiary">我的</h2>
    </div>
  </div>
</footer>
