<header>
  <ul class="p-0 d-flex justify-content-center">
    <li><a href="./index.html" class="d-block link-rock-blue p-4">首頁</a></li>
    <li>
      <a href="./login.html" class="d-block link-rock-blue p-4">登入頁</a>
    </li>
    <li>
      <a href="./meditate-complete.html" class="d-block link-rock-blue p-4"
      >冥想完成頁</a
      >
    </li>
    <li>
      <a href="./meditate-count.html" class="d-block link-rock-blue p-4"
      >冥想倒數頁</a
      >
    </li>
    <li><a href="./choose-moodToday.html" class="d-block link-rock-blue p-4">今日心情</a></li>
  </ul>
</header>
