<header class="bg-mustard-300">
  <ul class="nav">
    <li class="nav-item">
      <a href="./index.html" class="nav-link link-primary-dark">首頁</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link link-primary-dark">冥想倒數 / 進行頁</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link link-primary-dark">冥想完成頁</a>
    </li>
    <li class="nav-item">
      <a href="./calendar.html" class="nav-link link-primary-dark">月曆頁 / 統計頁</a>
    </li>
    <li class="nav-item">
      <a href="./settings.html" class="nav-link link-primary-dark">設定頁</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link link-primary-dark">歡迎頁</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link link-primary-dark">使用選擇頁</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link link-primary-dark">註冊頁</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link link-primary-dark">登入頁</a>
    </li>
  </ul>
</header>